 <div class="panel panel-default">

  <div class="panel-body">

   © 2015 Twitter

   © 2015 Twitterv

   © 2015 Twitter

   © 2015 Twitter

   v

   © 2015 Twitterv

   v

   © 2015 Twitter

   vv© 2015 Twitter

  </div>

  </div>

